dwm/
slock/
zsh.old/
tmux/.tmux/resurrect/*
notes.txt
keyd/.config/keyd/app.log
*zcompdump*

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

/misc/.muttrc

/.ccls-cache/*

emacs/.emacs.d/.org-generic-id-locations
emacs/.emacs.d/bookmarks
emacs/.emacs.d/org-roam.db
emacs/.emacs.d/recentf
emacs/.emacs.d/transient/
tmux/.tmux/plugins/*

zsh/.zsh/.zsh_history
tmux/.tmux/plugins/tmux-modal
tmux/.tmux/plugins/tmux-open
tmux/.tmux/plugins/tmux-yank
tmux/.tmux/plugins/tmux-resurrect

zsh/.zsh/plugins/*
zsh/.zsh/zsh-pandoc-completion/
zsh/.zsh/completions/nix-zsh-completions
zsh/.zsh/plugins/fast-syntax-highlighting
zsh/.zsh/plugins/zsh-system-clipboard

.DS_Store
FIXME/.DS_Store

misc/.newsboat/cache.db
misc/.newsboat/cache.db.lock
scripts/.local/bin/claude
