# Performance
command_timeout = 500

format = """
$directory\
$git_branch\
$git_status\
$fill\
$time\
$line_break\
[\\$](bold green) """

add_newline = true

[fill]
symbol = " "

[character]
disabled = true

[directory]
style = "cyan"

[time]
disabled = false
format = '[$time](blue bold)'
time_format = "%F %R"

[git_branch]
format = ' [$symbol$branch]($style)'
style = "purple"

[git_status]
format = '[$all_status$ahead_behind]($style) '
style = "red"

# Performance: disable slow modules
[package]
disabled = true

[nodejs]
disabled = true

[python]
disabled = true

[ruby]
disabled = true

[rust]
disabled = true

[golang]
disabled = true
